html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: var(--main-fnt);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  padding-bottom: 0;
  overflow-x: hidden;
  background-color: var(--btn-txt-clr);
  background-repeat: no-repeat;
  background-position: center top, right bottom 211px;
  background-size: 100% 460px, 100% 1253px;
  background-image: url(../images/mobile/header-bg/mobile-header-bg.png),
    url(../images/mobile/reviews-bg/bg.png);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/mobile/header-bg/mobile-header-bg@2x.png),
      url(../images/mobile/reviews-bg/bg@2x.png);
  }

  @media screen and (min-width: 768px) {
    background-position: center top, right bottom 101px;
    background-size: 100% 622px, 100% 1405px;
    background-image: url(../images/tablet/header-bg/tablet-header-bg.png),
      url(../images/tablet/reviews-bg/bg.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/tablet/header-bg/tablet-header-bg@2x.png),
        url(../images/tablet/reviews-bg/bg@2x.png);
    }
  }

  @media screen and (min-width: 1280px) {
    background-color: var(--regestration-box-clr);
    background-position: left 0px top 541px, center top, right bottom;
    background-size: 142px 450px, 100% 1035px, 100% 2073px;
    background-image: url(../images/desktop/header-bg/header-spoon@1x.png),
      url(../images/desktop/header-bg/desktop-header-bg@1x.png),
      url(../images/desktop/reviews-bg/bg.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/desktop/header-bg/header-spoon@2x.png),
        url(../images/desktop/header-bg/desktop-header-bg@2x.png),
        url(../images/desktop/reviews-bg/bg@2x.png);
    }
  }
}

.page {
  overflow: hidden;
}

.section {
  padding-top: 16px;

  @media screen and (min-width: 768px) {
    padding-top: 40px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 60px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 480px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  font-family: var(--title-fnt);
  font-size: 24px;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;

  @media screen and (min-width: 1280px) {
    font-size: 36px;
  }
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
.card-set__item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.trnstn {
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 300ms cubic-bezier(0.4, 0, 0.2, 1),
    scale 500ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 1000ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 00ms cubic-bezier(0.4, 0, 0.2, 1),
    border 300ms cubic-bezier(0.4, 0, 0.2, 1),
    width 600ms cubic-bezier(0.4, 0, 0.2, 1),
    margin 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
