*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: var(--main-fnt);
  //   color: $color-secondary;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 320px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  font-family: (--title-fnt);
  font-size: 24px;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
.card-set__item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}
