html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: var(--main-fnt);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  padding-bottom: 0;

  background-color: var(--regestration-box-clr);
  background-repeat: no-repeat;
  background-position: center top, center bottom 211px;
  background-size: 100% 460px, 100% 1303px;
  background-image: url(../images/mobile/header-bg/mobile-header-bg.png),
    url(../images/mobile/reviews-bg/bg.png);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/mobile/header-bg/mobile-header-bg@2x.png),
      url(../images/mobile/reviews-bg/bg@2x.png);
  }
  @media screen and (min-width: 768px) {
    background-position: center top, right bottom 101px;
    background-size: 100% 622px, 100% 1456px;
    background-image: url(../images/tablet/header-bg/tablet-header-bg.png),
      url(../images/tablet/reviews-bg/bg.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/tablet/header-bg/tablet-header-bg@2x.png),
        url(../images/tablet/reviews-bg/bg@2x.png);
    }
  }
  @media screen and (min-width: 1280px) {
    overflow-x: hidden;
    background-position: center top, right bottom;
    background-size: 100% 1035px, 100% 2073px;
    background-image: url(../images/desktop/header-bg/desktop-header-bg@1x.png),
      url(../images/desktop/reviews-bg/bg.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/desktop/header-bg/desktop-header-bg@2x.png),
        url(../images/desktop/reviews-bg/bg@2x.png);
    }
  }
}

.section {
  padding-top: 16px;

  @media screen and (min-width: 768px) {
    padding-top: 40px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 60px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 480px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  font-family: var(--title-fnt);
  font-size: 24px;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 36px;
  }
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
.card-set__item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}
