:root {
  /* color vars */
  --main-txt-clr: #2e2520;
  --secondary-txt-color: #000000;
  --btn-clr: #ab816c;
  --btn-txt-clr: #ffffff;
  --main-clr: #fef3e4;
  --regestration-box-clr: #fffff9;
  /* font vars */
  --title-fnt: 'Caveat Brush', cursive;
  --main-fnt: 'Montserrat', sans-serif;
  --primary-text-color: #212121;
  --accent-text-color: #2196f3;
  --description-text-color: #757575;
  --primary-bg-color: #ffffff;
  --portfolio-btn: #f5f4fa;
  --icons-main-clr: #afb1b8;
}
