:root {
  /* color vars */
  --main-txt-clr: #2e2520;
  --secondary-txt-color: #000000;
  --btn-clr: #ab816c;
  --btn-txt-clr: #ffffff;
  --main-clr: #fef3e4;
  --regestration-box-clr: #fffff9;
  /* font vars */
  --title-fnt: 'Caveat Brush', cursive;
  --main-fnt: 'Montserrat', sans-serif;
  // Card-set
  --indent: 20px;
  --items: 1;
}
