<section class="contact">
  <div class="container">
    <h2 class="contact__title">Contact</h2>
    <h3 class="contact__subtitle">We will answer any question!</h3>
    <form class="form-contact">
      <label class="form-contact__lable">
        <input
          class="form-contact__input"
          type="email"
          name="email"
          placeholder="Email"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        />
      </label>
      <label class="form-contact__lable">
        <input
          class="form-contact__input"
          type="text"
          name="question"
          placeholder="Type your question"
        />
      </label>
    </form>
    <ul class="networks list">
      <li class="networks__item">
        <svg class="networks__icon" width="16px" height="16px">
          <use href="./images/icons.svg#icon-twitter"></use>
        </svg>
      </li>
      <li class="networks__item">
        <svg class="networks__icon" width="16px" height="16px">
          <use href="./images/icons.svg#icon-instagram"></use>
        </svg>
      </li>
      <li class="networks__item">
        <svg class="networks__icon" width="16px" height="16px">
          <use href="./images/icons.svg#icon-facebook"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
