<footer class="footer link">
    <div class="footer-container container">
        <ul class="footer__socials list ">
            <li class="socials__item">
                <a class="socials__link" href="https://twitter.com/?lang=uk" target="_blank" rel="noreferrer noopener">
                    <svg class="socials__icon" width="16px" height="16px">
                        <use href="./images/icons.svg#icon-twitter"></use>
                    </svg>
                </a>
            </li>
            <li class="socials__item">
                <a class="socials__link" href="https://www.instagram.com/" target="_blank" rel="noreferrer noopener">
                    <svg class="socials__icon" width="16px" height="16px">
                        <use href="./images/icons.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="socials__item">
                <a class="socials__link" href="https://uk-ua.facebook.com/" target="_blank" rel="noreferrer noopener">
                    <svg class="socials__icon" width="16px" height="16px">
                        <use href="./images/icons.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <address class="footer-contacts">
            <a class="footer-contacts__link link" href="tel:+9102228855">
                <svg class="footer-contacts__icon" width="13px" height="13px">
                    <use href="./images/icons.svg#icon-tel"></use>
                </svg>
                <span class="contacts-item">(910)222-8855</span>
            </a>
            <a class="footer-contacts__link link" href="https://goo.gl/maps/v8hsSp8vQawnX1oS8" target="_blank"
                rel="noopener noreferrer">
                <svg class="footer-contacts__icon" width="10px" height="13px">
                    <use href="./images/icons.svg#icon-location"></use>
                </svg>
                <span class="contacts-item">New York</span>
            </a>
        </address>
    </div>

</footer>