<header id="header">
  <div class="header__container container">
    <button
      class="menu-btn hamburger hamburger--stand"
      type="button"
      aria-label="Menu"
      aria-controls="menu"
      data-menu-button
    >
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
    <div class="header-pic__container">
      <picture class="header-pic">
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/desktop/header/header-donuts-full@1x.webp 1x,
            ./images/desktop/header/header-donuts-full@2x.webp 2x
          "
          type="image/webp" />
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/desktop/header/header-donuts-full@1x.png 1x,
            ./images/desktop/header/header-donuts-full@2x.png 2x
          "
          type="image/png" />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/tablet/header/header-donuts@1x.webp 1x,
            ./images/tablet/header/header-donuts@2x.webp 2x
          "
          type="image/webp" />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/tablet/header/header-donuts@1x.png 1x,
            ./images/tablet/header/header-donuts@2x.png 2x
          "
          type="image/png" />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/mobile/header/header-donuts-full@1x.webp 1x,
            ./images/mobile/header/header-donuts-full@2x.webp 2x
          "
          type="image/webp" />

        <source
          media="(max-width: 767px)"
          srcset="
            ./images/mobile/header/header-donuts-full@1x.png 1x,
            ./images/mobile/header/header-donuts-full@2x.png 2x
          "
          type="image/png" />
        <img src="./images/mobile/header/header-donuts@1x.png" alt="DONUTS!"
      /></picture>
    </div>

    <div class="mob-menu" id="menu" data-menu>
      <a class="mob-menu__link" href="./index.html">
        <svg class="mob-menu__logo">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="list menu">
        <li class="menu__item">
          <a class="menu__link" href="#aboutus">About us</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#program">Program</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#speakers">Speakers</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#price">Price</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#reviews">Reviews</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#contact">Contacts</a>
        </li>
      </ul>
    </div>
    <div class="menu__nav-container">
      <a class="logo-link" href="./index.html">
        <svg class="logo">
          <use class="logo__md" href="./images/icons.svg#icon-logo_sm"></use>
          <use class="logo__lg" href="./images/icons.svg#icon-logo_lg"></use>
        </svg>
      </a>
      <ul class="list desktop-menu">
        <li class="menu__item">
          <a class="menu__link" href="#aboutus">About us</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#program">Program</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#speakers">Speakers</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#price">Price</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#reviews">Reviews</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#contact">Contacts</a>
        </li>
      </ul>
    </div>
    <div class="header-content">
      <h1 class="header__title">Donut Masterclass with the Donut King</h1>
      <h2 class="header-content__title">Hosted by Eva Green</h2>
      <a class="header-content__button btn link" href="#section-registration"
        >Register</a
      >
      <ul class="list socials">
        <li class="socials__item">
          <a
            class="socials__link"
            href="https://twitter.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="socials__icon" width="16px" height="16px">
              <use href="./images/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a
            class="socials__link"
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="socials__icon" width="16px" height="16px">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a
            class="socials__link"
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="socials__icon" width="16px" height="16px">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <!-- <picture class="header-content__pic">
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/desktop/header/header-spoon@1x.png 1x,
            ./images/desktop/header/header-spoon@2x.png 2x
          "
          sizes="(min-width: 1280px) 716px, 100vw" />

        <img src="./images/desktop/header/header-spoon@1x.png" alt="Spoon"
      /></picture> -->
    </div>
  </div>
</header>
