<section class="price section" id="price">
  <div class="price-container container">
    <h2 class="price__title title">Price</h2>
    <ul class="price__list list">
      <li class="price__card price-card price-card--pos-first">
        <div class="price-card__position">
          <h3 class="price-card__title">Easy start</h3>
          <ul class="price-card__list list">
            <li class="price-card__text">
              -features of yeast dough preparation
            </li>
            <li class="price-card__text">
              -preparation of liquid caramel for stuffing
            </li>
            <li class="price-card__text">
              -preparation of raspberry and strawberry filling
            </li>
            <li class="price-card__text">-fry and glaze donuts</li>
          </ul>
        </div>
        <div class="price-card__thumb">
          <a class="price-card-btn btn link" href="#section-registration">Register</a>
        </div>
      </li>
      <li class="price__card price-card price-card--pos-second">
        <div class="price-card__position">
          <h3 class="price-card__title">I want delicious donuts</h3>
          <ul class="price-card__list list">
            <li class="price-card__text">
              -features of yeast dough preparation
            </li>
            <li class="price-card__text">
              -preparation of liquid caramel for stuffing
            </li>
            <li class="price-card__text">
              -preparation of raspberry and strawberry filling
            </li>
            <li class="price-card__text">-melt chocolate for decoration</li>
            <li class="price-card__text">-fry and glaze donuts</li>
            <li class="price-card__text">
              -donut decoration. painting and various techniques
            </li>
          </ul>
        </div>
        <div class="price-card__thumb">
          <a class="price-card-btn btn link" href="#section-registration">Register</a>
        </div>
      </li>
      <li class="price__card price-card price-card--pos-third">
        <div class="price-card__position">
          <h3 class="price-card__title">Premium</h3>
          <ul class="price-card__list list">
            <li class="price-card__text">
              -features of yeast dough preparation
            </li>
            <li class="price-card__text">
              -preparation of liquid caramel for stuffing
            </li>
            <li class="price-card__text">
              -preparation of raspberry and strawberry filling
            </li>
            <li class="price-card__text">-melt chocolate for decoration</li>
            <li class="price-card__text">-fry and glaze donuts</li>
            <li class="price-card__text">
              -donut decoration. painting and various techniques
            </li>
            <li class="price-card__text">
              -After party and donut tasting with speakers
            </li>
            <li class="price-card__text">
              -2 private lessons with one of the speakers
            </li>
          </ul>
        </div>
        <div class="price-card__thumb">
          <a class="price-card-btn btn link" href="#section-registration">Register</a>
        </div>
      </li>
    </ul>
  </div>
</section>
