<section class="price section">
    <div class="praice-container container">
        <h2 class="price__title title">Price</h2>
    <ul class="price__list list card-set">
        <li class="price__card card-set__item price-card">
            <h3 class="price-card__title">Easy start</h3>
            <ul class="price-card__list list">
                <li class="price-card__text">features of yeast dough preparation</li>
                <li class="price-card__text">preparation of liquid caramel for stuffing</li>
                <li class="price-card__text">preparation of raspberry and strawberry filling</li>
                <li class="price-card__text">fry and glaze donuts</li>
            </ul>
            <button class="btn" type="button">Register</button>
            <svg >
                <use></use>
            </svg>
            <svg>
                <use></use>
            </svg>
            <svg>
                <use></use>
            </svg>
        </li>
        <li class="price-card card-set__item card">
            <h3 class="card-title">I want delicious donuts</h3>
            <ul class="card-list list">
                <li class="price-card__text">features of yeast dough preparation</li>
                <li class="price-card__text">preparation of liquid caramel for stuffing</li>
                <li class="price-card__text">preparation of raspberry and strawberry filling</li>
                <li class="price-card__text">melt chocolate for decoration</li>
                <li class="price-card__text">fry and glaze donuts</li>
                <li class="price-card__text">donut decoration. painting and various techniques</li>
            </ul>
            <button class="btn" type="button" >Register</button>
            <svg>
                <use></use>
            </svg>
            <svg>
                <use></use>
            </svg>
        </li>
        <li class="price-card card-set__item card">
            <h3 class="card-title">Premium</h3>
            <ul class="card-list list">
                <li class="price-card__text">features of yeast dough preparation</li>
                <li class="price-card__text">preparation of liquid caramel for stuffing</li>
                <li class="price-card__text">preparation of raspberry and strawberry filling</li>
                <li class="price-card__text">melt chocolate for decoration</li>
                <li class="price-card__text">fry and glaze donuts</li>
                <li class="price-card__text">donut decoration. painting and various techniques</li>
                <li class="price-card__text">After party and donut tasting with speakers</li>
                <li class="price-card__text">2 private lessons with one of the speakers</li>
            </ul>
            <button class="btn" type="button">Register</button>
            <svg>
                <use></use>
            </svg>
            <svg>
                <use></use>
            </svg>
        </li>
        
    </ul>
    </div>

</section>