<section>
    <h2>Price</h2>
    <ul>
        <li>
            <h3>Easy start</h3>
            <ul>
                <li>features of yeast dough preparation</li>
                <li>preparation of liquid caramel for stuffing</li>
                <li>preparation of raspberry and strawberry filling</li>
                <li>fry and glaze donuts</li>
            </ul>
            <button type="button">Register</button>
            <svg>
                <use></use>
            </svg>
            <svg>
                <use></use>
            </svg>
            <svg>
                <use></use>
            </svg>
        </li>
        <li>
            <h3>I want delicious donuts</h3>
            <ul>
                <li>features of yeast dough preparation</li>
                <li>preparation of liquid caramel for stuffing</li>
                <li>preparation of raspberry and strawberry filling</li>
                <li>melt chocolate for decoration</li>
                <li>fry and glaze donuts</li>
                <li>donut decoration. painting and various techniques</li>
            </ul>
            <button type="button">Register</button>
            <svg>
                <use></use>
            </svg>
            <svg>
                <use></use>
            </svg>
        </li>
        <li>
            <h3>Premium</h3>
            <ul>
                <li>features of yeast dough preparation</li>
                <li>preparation of liquid caramel for stuffing</li>
                <li>preparation of raspberry and strawberry filling</li>
                <li>melt chocolate for decoration</li>
                <li>fry and glaze donuts</li>
                <li>donut decoration. painting and various techniques</li>
                <li>After party and donut tasting with speakers</li>
                <li>2 private lessons with one of the speakers</li>
            </ul>
            <button type="button">Register</button>
            <svg>
                <use></use>
            </svg>
            <svg>
                <use></use>
            </svg>
        </li>
        
    </ul>

</section>