<section class="program section" id="program">
  <div class="program__container container">
    <div class="program__article article">
      <div class="article__thumb">
      <h2 class="article__title title">Program</h2>
      <p class="article__description">
        Indulge in this immersive sweet treat experience with The Chef Donut
        Queen in her New York donut shop!
      </p>
      <ul class="article__list list">
        <li class="article__text">A stand up history of donuts</li>
        <li class="article__text">Make 3 donut flavors of your choice</li>
        <li class="article__text">Enjoy all-you-can-eat donuts</li>
        <li class="article__text">Cocktail pairings and coffee included</li>
        <li class="article__text">Photoshoot by professional photographer</li>
        <li class="article__text">Secret receipt of cooking from Eva</li>
        <li class="article__text">All products are included in the price</li>
      </ul>
    </div>
      <p class="about__text-add about__text" data-text>
        Come with your dear people and friends and you will spend an
        unforgettable time and will become a real professional in donuts
        cooking!
      </p>
    
      <button class="btn-read-more" type="button" data-btn-more>
       <span class="btn-read-more btn-read-more--close" data-text-more>Read more</span>
       <span class="btn-read-more btn-read-more--open is-hidden" data-text-less>Less</span>
      </button>
    </div>
    <div class="program__picture-box">
      <ul class="picture-box__list list">
        <li class="picture-box__item">
          <div class="picture-box__container donate-1">
            <h3 class="picture-box__title">Type of the event</h3>
            <p class="picture-box__description">Cooking classes</p>
            <div class="picture-box__thumb">
              <svg class="picture__svg picture__svg--mobile" width="19" height="19">
                <use href="./images/icons.svg#icon-chef-hat">
                </use>
              </svg>
              <svg class="picture__svg picture__svg--tablet" width="21" height="21">
                <use href="./images/icons.svg#icon-chef-hat">
                </use>
              </svg>
              <svg class="picture__svg picture__svg--desktop" width="24" height="25">
                <use href="./images/icons.svg#icon-chef-hat">
                </use>
              </svg>
            </div>
          </div>
        </li>
        <li class="picture-box__item">
          <div class="picture-box__container donate-2">
            <h3 class="picture-box__title">Number of guests</h3>
            <p class="picture-box__description">1 to 20</p>
            <div class="picture-box__thumb">
              <svg class="picture__svg picture__svg--mobile" width="19" height="19">
                <use href="./images/icons.svg#icon-clock"></use>
              </svg>
              <svg class="picture__svg picture__svg--tablet" width="21" height="21">
                <use href="./images/icons.svg#icon-clock"></use>
              </svg>
              <svg class="picture__svg picture__svg--desktop" width="25" height="25">
                <use href="./images/icons.svg#icon-clock"></use>
              </svg>
            </div>
          </div>
        </li>
        <li class="picture-box__item">
          <div class="picture-box__container donate-3">
            <h3 class="picture-box__title">Time of the event</h3>
            <p class="picture-box__description">
              <time>18:30</time>
              (2.5 hours)
            </p>
            <div class="picture-box__thumb">
              <svg class="picture__svg picture__svg--mobile" width="19" height="19">
                <use href="./images/icons.svg#icon-people" ></use>
              </svg>
              <svg class="picture__svg picture__svg--tablet" width="21" height="21">
                <use href="./images/icons.svg#icon-people" ></use>
              </svg>
              <svg class="picture__svg picture__svg--desktop" width="24" height="25">
                <use href="./images/icons.svg#icon-people" ></use>
              </svg>
            </div>
          </div>
        </li>
        <li class="picture-box__item">
          <div class="picture-box__container donate-4">
            <h3 class="picture-box__title">The host speaks</h3>
            <p class="picture-box__description">English, French</p>
            <div class="picture-box__thumb">
              <svg class="picture__svg picture__svg--mobile" width="19" height="19">
                <use href="./images/icons.svg#icon-chat"></use>
              </svg>
              <svg class="picture__svg picture__svg--tablet" width="21" height="21">
                <use href="./images/icons.svg#icon-chat"></use>
              </svg>
              <svg class="picture__svg picture__svg--desktop" width="24" height="25">
                <use href="./images/icons.svg#icon-chat"></use>
              </svg>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
