<section>
    <div>
        <h2>Program</h2>
        <p>Indulge in this immersive sweet treat experience with The Chef Donut Queen in her New York donut shop!</p>
        <ul>
            <li>A stand up history of donuts</li>
            <li>Make 3 donut flavors of your choice</li>
            <li>Enjoy all-you-can-eat donuts</li>
            <li>Cocktail pairings and coffee included</li>
            <li>Photoshoot by professional photographer</li>
            <li>Secret receipt of cooking from Eva</li>
            <li>All products are included in the price</li>
        </ul>
        <p>Come with your dear people and friends and you will spend an unforgettable time and will become a real professional in donuts cooking!</p>
        <a href="">Read more</a>
    </div>
    <div>
        <ul>
            <li>
                <h3>Type of the event</h3>
                <p>Cooking classes</p>
                <svg>
                   <use>
                   </use>
                </svg>
            </li>
            <li>
                <h3>Number of guests</h3>
                <p>1 to 20</p>
                <svg>
                   <use>
                   </use>
                </svg>
            </li>
            <li>
                <h3>Time of the event</h3>
                <p>
                <time>18:30</time>
                (2.5 hours)</p>
                <svg>
                   <use>
                   </use>
                </svg>
            </li>
            <li>
                <h3>The host speaks</h3>
                <p>English, French</p>
                <svg>
                   <use>
                   </use>
                </svg>
            </li>
        </ul>
    </div>
</section>
