<section class="section-registration" id="section-registration">
  <div class="container section-registration--background">
    <div class="section-registration__wrapper">
      <h2 class="section-registration__title title">Registration</h2>

      <div class="section-registration__container">
        <div class="section-registration__container-text">
          <p class="section-registration__text">May 23, 11:00 New York</p>
        </div>

        <form class="form-registration">
          <div class="form-registration__container">
            <h3 class="form-registration__subtitle">
              Apply your personal info for registration
            </h3>
            <label class="form-registration__lable">
              <input
                class="form-registration__input"
                type="text"
                name="username"
                placeholder="Your name"
                required
              />
            </label>
            <label class="form-registration__input">
              <input
                class="form-registration__input"
                type="tel"
                name="number"
                placeholder="Phone number"
                pattern="[380][0-9]{9}"
                required
              />
            </label>
            <label class="form-registration__lable">
              <input
                class="form-registration__input"
                type="email"
                name="email"
                placeholder="Email"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                required
              />
            </label>
          </div>
          <button
            class="btn form-registration__submit"
            type="submit"
            aria-label="Register"
          >
            Register
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
