<section class="section-registration">
  <div class="container">
    <h2 class="section-registration__title">Registration</h2>

    <div class="section-registration__container">
      <p class="section-registration__text">May 23, 11:00 New York</p>

      <form class="form-registration">
        <h3 class="form-registration__title">
          Apply your personal info for registration
        </h3>
        <label class="form-registration__lable">
          <input
            class="form-registration__input"
            type="text"
            name="username"
            placeholder="Your name"
          />
        </label>
        <label class="form-registration__input">
          <input
            class="form-registration__input"
            type="tel"
            name="number"
            placeholder="Phone number"
            pattern="[789][0-9]{9}"
          />
        </label>
        <label class="form-registration__lable">
          <input
            class="form-registration__input"
            type="email"
            name="email"
            placeholder="Email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          />
        </label>
        <button class="btn" type="submit">Register</button>
      </form>
    </div>
  </div>
</section>
