<section class="reviews__section">
  <div class="container">
    <h2 class="reviews__title title">Reviews</h2>
    <article class="reviews__article">
      <ul class="reviews__list list">
        <li class="reviews__item">
          <!-- <picture class="reviews__img">
       
        <source media="(min-width: 1200px)" srcset="" />

        
        <source media="(min-width: 768px)" srcset="" />
       

        <source media="(max-width: 767px)" srcset="" />
        <img src="" alt="" width="" height="" />
      </picture> -->
          <div class="reviews__rate">
            <svg class="reviews__icon" width="136" height="24">
              <use href="./images/icons.svg#rate-4"></use>
            </svg>
          </div>
          <div class="reviews__meta">
            <h3 class="reviews__name">John</h3>
            <p class="reviews__comment">
              Last time I have visited a cooking course by Eva I was impressed
              with the way she explained everything to people. You can be sure
              you will manage to cook a delicious dish even if it is your first
              time in the kitchen! Thank you so much for the masterclass!
              Looking forward to the next one and highly recommend it to
              everyone!
            </p>
          </div>
        </li>
        <li class="reviews__item">
          <!-- <picture class="reviews__img">
       
        <source media="(min-width: 1200px)" srcset="" />

        
        <source media="(min-width: 768px)" srcset="" />
        

        <source media="(max-width: 767px)" srcset="" />
        <img src="" alt="" width="" height="" />
      </picture> -->
          <div class="reviews__rate">
            <svg class="reviews__icon" width="136" height="24">
              <use href="./images/icons.svg#rate-5"></use>
            </svg>
          </div>
          <div class="reviews__meta">
            <h3 class="reviews__name">Will</h3>
            <p class="reviews__comment">
              Last time I have visited a cooking course by Eva I was impressed
              with the way she explained everything to people. You can be sure
              you will manage to cook a delicious dish even if it is your first
              time in the kitchen! Thank you so much for the masterclass!
              Looking forward to the next one and highly recommend it to
              everyone!
            </p>
          </div>
        </li>
        <li class="reviews__item">
          <!-- <picture class="reviews__img">
        
        <source media="(min-width: 1200px)" srcset="" />

        
        <source media="(min-width: 768px)" srcset="" />
        

        <source media="(max-width: 767px)" srcset="" />
        <img src="" alt="" width="" height="" />
      </picture> -->
          <div class="reviews__rate">
            <svg class="reviews__icon" width="136" height="24">
              <use href="./images/icons.svg#rate-5"></use>
            </svg>
          </div>
          <div class="reviews__meta">
            <h3 class="reviews__name">Elisabeth</h3>
            <p class="reviews__comment">
              Last time I have visited a cooking course by Eva I was impressed
              with the way she explained everything to people. You can be sure
              you will manage to cook a delicious dish even if it is your first
              time in the kitchen! Thank you so much for the masterclass!
              Looking forward to the next one and highly recommend it to
              everyone!
            </p>
          </div>
        </li>
      </ul>
    </article>
    <p>2/15</p>
  </div>
</section>
