<section class="reviews__section section" id="reviews">
  <div class="reviews__container container">
    <h2 class="reviews__title title">Reviews</h2>
    <div class="reviews__slider">
      <article class="reviews__item trnstn" data-reviews>
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/desktop/reviews/john.jpg    1x,
              ./images/desktop/reviews/john@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/reviews/john.jpg    1x,
              ./images/tablet/reviews/john@2x.jpg 2x
            "
          />

          <source
            media="(max-width: 767px)"
            srcset="
              ./images/desktop/reviews/john.jpg    1x,
              ./images/desktop/reviews/john@2x.jpg 2x
            "
          />
          <img
            src="./images/desktop/reviews/john.jpg"
            alt="women"
            width="280"
            height="280"
            class="reviews__img"
          />
        </picture>

        <svg class="reviews__icon trnstn" width="136" height="24">
          <use href="./images/icons.svg#rate-4"></use>
        </svg>
        <h3 class="reviews__name">John</h3>
      </article>
      <article class="reviews__item trnstn">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/desktop/reviews/will.jpg    1x,
              ./images/desktop/reviews/will@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/reviews/will.jpg    1x,
              ./images/tablet/reviews/will@2x.jpg 2x
            "
          />

          <source
            media="(max-width: 767px)"
            srcset="
              ./images/mobile/reviews/will.jpg    1x,
              ./images/mobile/reviews/will@2x.jpg 2x
            "
          />
          <img
            src="./images/mobile/reviews/will.jpg"
            alt="women"
            width="280"
            height="280"
            class="reviews__img"
          />
        </picture>

        <svg class="reviews__icon" width="136" height="24">
          <use href="./images/icons.svg#rate-5"></use>
        </svg>
        <h3 class="reviews__name">Will</h3>
      </article>
      <article class="reviews__item trnstn">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/desktop/reviews/elisabeth.jpg    1x,
              ./images/desktop/reviews/elisabeth@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/reviews/elisabeth.jpg    1x,
              ./images/tablet/reviews/elisabeth@2x.jpg 2x
            "
          />

          <source
            media="(max-width: 767px)"
            srcset="
              ./images/mobile/reviews/will.jpg    1x,
              ./images/mobile/reviews/will@2x.jpg 2x
            "
          />
          <img
            src="./images/desktop/reviews/elisabeth.jpg"
            alt="women"
            width="280"
            height="280"
            class="reviews__img"
          />
        </picture>

        <svg class="reviews__icon" width="136" height="24">
          <use href="./images/icons.svg#rate-5"></use>
        </svg>
        <h3 class="reviews__name">Elisabeth</h3>
      </article>
      <article class="reviews__item trnstn">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/desktop/reviews/john.jpg    1x,
              ./images/desktop/reviews/john@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/reviews/john.jpg    1x,
              ./images/tablet/reviews/john@2x.jpg 2x
            "
          />

          <source
            media="(max-width: 767px)"
            srcset="
              ./images/desktop/reviews/john.jpg    1x,
              ./images/desktop/reviews/john@2x.jpg 2x
            "
          />
          <img
            src="./images/desktop/reviews/john.jpg"
            alt="women"
            width="280"
            height="280"
            class="reviews__img"
          />
        </picture>

        <svg class="reviews__icon" width="136" height="24">
          <use href="./images/icons.svg#rate-4"></use>
        </svg>
        <h3 class="reviews__name">John</h3>
      </article>
      <article class="reviews__item trnstn">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/desktop/reviews/will.jpg    1x,
              ./images/desktop/reviews/will@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/reviews/will.jpg    1x,
              ./images/tablet/reviews/will@2x.jpg 2x
            "
          />

          <source
            media="(max-width: 767px)"
            srcset="
              ./images/mobile/reviews/will.jpg    1x,
              ./images/mobile/reviews/will@2x.jpg 2x
            "
          />
          <img
            src="./images/mobile/reviews/will.jpg"
            alt="women"
            width="280"
            height="280"
            class="reviews__img"
          />
        </picture>

        <svg class="reviews__icon" width="136" height="24">
          <use href="./images/icons.svg#rate-5"></use>
        </svg>

        <h3 class="reviews__name">Will</h3>
      </article>
      <article class="reviews__item trnstn">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/desktop/reviews/elisabeth.jpg    1x,
              ./images/desktop/reviews/elisabeth@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/reviews/elisabeth.jpg    1x,
              ./images/tablet/reviews/elisabeth@2x.jpg 2x
            "
          />

          <source
            media="(max-width: 767px)"
            srcset="
              ./images/mobile/reviews/will.jpg    1x,
              ./images/mobile/reviews/will@2x.jpg 2x
            "
          />
          <img
            src="./images/desktop/reviews/elisabeth.jpg"
            alt="women"
            width="280"
            height="280"
            class="reviews__img"
          />
        </picture>

        <svg class="reviews__icon" width="136" height="24">
          <use href="./images/icons.svg#rate-5"></use>
        </svg>
        <h3 class="reviews__name">Elisabeth</h3>
      </article>
    </div>

    <div class="reviews__description trnstn">
      <article class="reviews__comment">
        Last time I have visited a cooking course by Eva I was impressed with
        the way she explained everything to people. You can be sure you will
        manage to cook a delicious dish even if it is your first time in the
        kitchen! Thank you so much for the masterclass! Looking forward to the
        next one and highly recommend it to everyone!
      </article>
      <article class="reviews__comment">
        Last time I have visited a cooking course by Eva I was impressed with
        the way she explained everything to people. You can be sure you will
        manage to cook a delicious dish even if it is your first time in the
        kitchen! Thank you so much for the masterclass! Looking forward to the
        next one and highly recommend it to everyone!
      </article>
      <article class="reviews__comment">
        Last time I have visited a cooking course by Eva I was impressed with
        the way she explained everything to people. You can be sure you will
        manage to cook a delicious dish even if it is your first time in the
        kitchen! Thank you so much for the masterclass! Looking forward to the
        next one and highly recommend it to everyone!
      </article>
      <article class="reviews__comment">
        Last time I have visited a cooking course by Eva I was impressed with
        the way she explained everything to people. You can be sure you will
        manage to cook a delicious dish even if it is your first time in the
        kitchen! Thank you so much for the masterclass! Looking forward to the
        next one and highly recommend it to everyone!
      </article>
      <article class="reviews__comment">
        Last time I have visited a cooking course by Eva I was impressed with
        the way she explained everything to people. You can be sure you will
        manage to cook a delicious dish even if it is your first time in the
        kitchen! Thank you so much for the masterclass! Looking forward to the
        next one and highly recommend it to everyone!
      </article>
      <article class="reviews__comment">
        Last time I have visited a cooking course by Eva I was impressed with
        the way she explained everything to people. You can be sure you will
        manage to cook a delicious dish even if it is your first time in the
        kitchen! Thank you so much for the masterclass! Looking forward to the
        next one and highly recommend it to everyone!
      </article>
    </div>
  </div>
</section>
