<section class="speakers__section" id="speakers">
  <div class="speakers__container container">
    <h2 class="speakers__title title">Speakers</h2>
    <ul class="speakers__list list">
      <li class="speakers__item">
        <div class="speakers__box">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/desktop/speakers/molly.jpg    1x,
                ./images/desktop/speakers/molly@2x.jpg 2x
              "
              width="181"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/speakers/molly.jpg    1x,
                ./images/tablet/speakers/molly@2x.jpg 2x
              "
              width="152"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/mobile/speakers/molly.jpg    1x,
                ./images/mobile/speakers/molly@2x.jpg 2x
              "
            />
            <img
              src="./images/desktop/speakers/molly.jpg"
              alt="woman Molly Rivera"
              width="130"
              height="130"
              class="speakers__img img trnstn"
            />
          </picture>
          <div class="speakers__meta">
            <h3 class="speakers__name">Molly Rivera</h3>
            <p class="speakers__description">
              Pastry chef, master chocolatier of Spain
            </p>
          </div>
        </div>
      </li>
      <li class="speakers__item">
        <div class="speakers__box">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/desktop/speakers/sophia.jpg    1x,
                ./images/desktop/speakers/sophia@2x.jpg 2x
              "
              width="181"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/speakers/sophia.jpg    1x,
                ./images/tablet/speakers/sophia@2x.jpg 2x
              "
              width="152"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/mobile/speakers/sophia.jpg    1x,
                ./images/mobile/speakers/sophia@2x.jpg 2x
              "
            />
            <img
              src="./images/mobile/speakers/sophia.jpg"
              alt="woman Sophia Clark"
              width="130"
              height="130"
              class="speakers__img img trnstn"
            />
          </picture>
          <div class="speakers__meta">
            <h3 class="speakers__name">Sophia Clark</h3>
            <p class="speakers__description">Сulinary school pastry chef</p>
          </div>
        </div>
      </li>
      <li class="speakers__item">
        <div class="speakers__box">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/desktop/speakers/isabella.jpg    1x,
                ./images/desktop/speakers/isabella@2x.jpg 2x
              "
              width="181"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/speakers/isabella.jpg    1x,
                ./images/tablet/speakers/isabella@2x.jpg 2x
              "
              width="152"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/mobile/speakers/isabella.jpg    1x,
                ./images/mobile/speakers/isabella@2x.jpg 2x
              "
            />
            <img
              src="./images/mobile/speakers/isabella.jpg"
              alt="woman Isabella Taylor"
              width="130"
              height="130"
              class="speakers__img img trnstn"
            />
          </picture>
          <div class="speakers__meta">
            <h3 class="speakers__name">Isabella Taylor</h3>
            <p class="speakers__description">
              Сonsultant in the art of confectionery
            </p>
          </div>
        </div>
      </li>
      <li class="speakers__item">
        <div class="speakers__box">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/desktop/speakers/evelyn.jpg    1x,
                ./images/desktop/speakers/evelyn@2x.jpg 2x
              "
              width="181"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/speakers/evelyn.jpg    1x,
                ./images/tablet/speakers/evelyn@2x.jpg 2x
              "
              width="152"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/mobile/speakers/evelyn.jpg    1x,
                ./images/mobile/speakers/evelyn@2x.jpg 2x
              "
            />
            <img
              src="./images/mobile/speakers/evelyn.jpg"
              alt="woman Evelyn Miller"
              width="130"
              height="130"
              class="speakers__img img trnstn"
            />
          </picture>
          <div class="speakers__meta">
            <h3 class="speakers__name">Evelyn Miller</h3>
            <p class="speakers__description">Master- chocolatier in Spain</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
