<div class="container">
  <section class="speakers__section">
    <h2 class="speaker__title title">Speakers</h2>
    <ul class="speakers__list list">
      <li class="speakers__item">
        <div>
          <!-- <picture class="speakers__img">
        
          <source media="(min-width: 1200px)" srcset="" />

          
          <source media="(min-width: 768px)" srcset="" />
         

          <source media="(max-width: 767px)" srcset="" />
          <img src="" alt="" width="" height="" />
        </picture> -->
        </div>
        <div class="speakers__meta">
          <h3 class="speakers__name">Molly Rivera</h3>
          <p class="speakers__description">
            Pastry chef, master chocolatier of Spain
          </p>
        </div>
      </li>
      <li class="speakers__item">
        <div>
          <!-- <picture class="speakers__img">
       
          <source media="(min-width: 1200px)" srcset="" />

          
          <source media="(min-width: 768px)" srcset="" />
         

          <source media="(max-width: 767px)" srcset="" />
          <img src="" alt="" width="" height="" />
        </picture> -->
        </div>
        <div class="speakers__meta">
          <h3 class="speakers__name">Sophia Clark</h3>
          <p class="speakers__description">Сulinary school pastry chef</p>
        </div>
      </li>
      <li class="speakers__item">
        <div>
          <!-- <picture class="speakers__img">
          
          <source media="(min-width: 1200px)" srcset="" />

         
          <source media="(min-width: 768px)" srcset="" />
         

          <source media="(max-width: 767px)" srcset="" />
          <img src="" alt="" width="" height="" />
        </picture> -->
        </div>
        <div class="speakers__meta">
          <h3 class="speakers__name">Isabella Taylor</h3>
          <p class="speakers__description">
            Сonsultant in the art of confectionery
          </p>
        </div>
      </li>
      <li class="speakers__item">
        <div>
          <!-- <picture class="speakers__img">
        
          <source media="(min-width: 1200px)" srcset="" />

        
          <source media="(min-width: 768px)" srcset="" />
         

          <source media="(max-width: 767px)" srcset="" />
          <img src="" alt="" width="" height="" />
        </picture> -->
        </div>
        <div class="speakers__meta">
          <h3 class="speakers__name">Evelyn Miller</h3>
          <p class="speakers__description">Master- chocolatier in Spain</p>
        </div>
      </li>
    </ul>
  </section>
</div>
