<section class="speakers__section">
  <div class="container">
    <h2 class="speakers__title title">Speakers</h2>
    <div class="speakers__box">
      <ul class="speakers__list list">
        <li class="speakers__item">
          <picture class="speakers__img img">
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/desktop/speakers/molly_rivera.png    1x,
                ./images/desktop/speakers/molly_rivera@2x.png 2x
              "
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/speakers/molly_rivera.png    1x,
                ./images/tablet/speakers/molly_rivera@2x.png 2x
              "
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/mobile/speakers/molly_rivera.png    1x,
                ./images/mobile/speakers/molly_rivera@2x.png 2x
              "
            />
            <img
              src="./images/mobile/speakers/molly_rivera.png"
              alt="woman Molly Rivera"
              width="130px"
              height="130px"
            />
          </picture>
          <div class="speakers__meta">
            <h3 class="speakers__name">Molly Rivera</h3>
            <p class="speakers__description">
              Pastry chef, master chocolatier of Spain
            </p>
          </div>
        </li>
        <li class="speakers__item">
          <picture class="speakers__img img">
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/desktop/speakers/sophia_clark.png    1x,
                ./images/desktop/speakers/sophia_clark@2x.png 2x
              "
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/speakers/sophia_clark.png    1x,
                ./images/tablet/speakers/sophia_clark@2x.png 2x
              "
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/mobile/speakers/sophia_clark.png    1x,
                ./images/mobile/speakers/sophia_clark@2x.png 2x
              "
            />
            <img
              src="./images/mobile/speakers/sophia_clark.png"
              alt="woman Sophia Clark"
              width="130px"
              height="130px"
            />
          </picture>
          <div class="speakers__meta">
            <h3 class="speakers__name">Sophia Clark</h3>
            <p class="speakers__description">Сulinary school pastry chef</p>
          </div>
        </li>
        <li class="speakers__item">
          <picture class="speakers__img img">
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/desktop/speakers/isabella_taylor.png    1x,
                ./images/desktop/speakers/isabella_taylor@2x.png 2x
              "
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/speakers/isabella_taylor.png    1x,
                ./images/tablet/speakers/isabella_taylor@2x.png 2x
              "
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/mobile/speakers/isabella_taylor.png    1x,
                ./images/mobile/speakers/isabella_taylor@2x.png 2x
              "
            />
            <img
              src="./images/mobile/speakers/isabella_taylor.png"
              alt="woman Isabella Taylor"
              width="130px"
              height="130px"
            />
          </picture>
          <div class="speakers__meta">
            <h3 class="speakers__name">Isabella Taylor</h3>
            <p class="speakers__description">
              Сonsultant in the art of confectionery
            </p>
          </div>
        </li>
        <li class="speakers__item">
          <picture class="speakers__img img">
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/desktop/speakers/evelyn_miller.png    1x,
                ./images/desktop/speakers/evelyn_miller@2x.png 2x
              "
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/speakers/evelyn_miller.png    1x,
                ./images/tablet/speakers/evelyn_miller@2x.png 2x
              "
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/mobile/speakers/evelyn_miller.png    1x,
                ./images/mobile/speakers/evelyn_miller@2x.png 2x
              "
            />
            <img
              src="./images/mobile/speakers/evelyn_miller.png"
              alt="woman Evelyn Miller"
              width="130px"
              height="130px"
            />
          </picture>
          <div class="speakers__meta">
            <h3 class="speakers__name">Evelyn Miller</h3>
            <p class="speakers__description">Master- chocolatier in Spain</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
