.btn {
  min-width: 145px;
  height: 40px;
  padding: 8px 47px;
  background-color: var(--btn-clr);
  border-radius: 25px;

  border: 1px solid transparent;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(23 / 18);
  display: inline-flex;
  justify-content: center;
  color: var(--btn-txt-clr);
  transition-property: color, background-color, border, transform, box-shadow;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 1279px) {
    &:active {
      color: var(--btn-clr);
      background-color: var(--btn-txt-clr);
      border: 1px solid var(--btn-clr);
      box-shadow: 0px 3px 3px var(--btn-clr);
      transform: scale(1.05);
    }
  }
  @media screen and (min-width: 1280px) {
    &:hover,
    &:focus {
      color: var(--btn-clr);
      background-color: var(--btn-txt-clr);
      border: 1px solid var(--btn-clr);
      box-shadow: 0px 3px 3px var(--btn-clr);
      transform: scale(1.05);
    }
  }
}

.btn-read-more {
  @media screen and (min-width: 1280px) {
    display: none;
  }
  padding: 0;

  font-size: 18px;
  font-family: var(--title-fnt);
  color: var(--btn-clr);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-read-more.is-open {
  .btn-read-more--open {
    display: block;
  }
  .btn-read-more--close {
    display: none;
  }
}
