.socials {
  display: flex;
  gap: 16px;
}
.socials__item {
  display: inline-flex;
}
.socials__link {
  display: inline-flex;
  fill: var(--main-txt-clr);
  &:hover,
  &:focus {
    fill: var(--btn-clr);
  }
}
