.about {
  @media screen and (min-width: 1280px) {
    padding-top: 100px;
    padding-bottom: 39px;
  }
}

.about__content {
  @media screen and (min-width: 768px) {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
}

.about__img {
  @media screen and (max-width: 767px) {
    position: relative;
    top: -15;
    left: 0;
    z-index: -20;
  }

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 0;
    left: 32px;
  }

  @media screen and (min-width: 1280px) {
    top: -45px;
    left: 122px;
    z-index: -100;
  }
}

.about__text-wrap {
  @media screen and (min-width: 768px) {
    max-width: 336px;
    margin-right: 25px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 392px;
    padding-right: 5px;
    padding-top: 20px;
    margin-right: 139px;
  }
}

.about__text {
  margin-top: 20px;

  @media screen and (min-width: 1280px) {
    margin-top: 22px;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
  }
}

.hide {
  display: none;
}

.about__text-add {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.about__text-add {
  margin-top: 22px;
}

.about__text-add {
  @media screen and (max-width: 1279px) {
    display: none;
  }
}

// .about__text-add {
//     margin-top: 22px;
//     margin-bottom: 16px;
//     font-size: 18px;
//     line-height: 22px;
//     text-align: left;

// }

.about__title {
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.is-hidden {
  display: none;
}

.square {
  border-radius: 10px;
  pointer-events: none;
  top: 0;
  left: 0;
  z-index: 1;
  position: relative;
  animation: move 1s linear;
}

@keyframes move {
  0% {
    top: 200px;
    opacity: 0.5;
  }

  100% {
    top: 0px;
    opacity: 1;
  }
}
