.contact {
  // margin-top: 32px;
  &__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20 / 16);
    text-align: center;
    color: var(--main-txt-clr);
    margin: 15px 0;
  }
  @media screen and (min-width: 768px) {
    &__title {
      font-size: 24px;
    }
  }
  @media screen and (min-width: 1280px) {
    &__title {
      font-size: 36px;
    }
  }
}
.form-contact {
  &__lable:nth-child(2n) .form-contact__input {
    margin-top: 20px;
    margin-bottom: 32px;
  }
  &__input {
    border: 0;
    border-bottom: 1px solid var(--btn-clr);
    width: 100%;
    background-color: inherit;
    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: rgba(171, 129, 108, 0.5);
    }
    &:hover,
    &:focus {
      outline: none;
      border-color: var(--secondary-txt-color);
      @include transition(color);
    }
  }
  &__submit {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }
  @media screen and (min-width: 768px) {
    max-width: 336px;
    margin-left: auto;
    margin-right: auto;
    background: none;
  }
  @media screen and (min-width: 1280px) {
    max-width: 400px;
    font-size: 18px;
    line-height: calc(22 / 18);
  }
}
