.footer {
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: url(../images/mobile/contact/mobile-footer-spoon-and-flour.png);
  background-repeat: no-repeat;
  background-position: right bottom;

  @media screen and (max-width: 767px) {
    padding-bottom: 46px;
    background-size: 84px 89px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/mobile/contact/mobile-footer-spoon-and-flour@2x.png);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/tablet/contact/tablet-footer-spoon-and-flour.png);
    padding-bottom: 100px;
    padding-top: 40px;
    background-position: right bottom;
    background-size: 184px 163px;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/tablet/contact/tablet-footer-spoon-and-flour@2x.png);
    }
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 232px;
    background-image: url(../images/desktop/contact/desktop-footer-spoon-and-flour.png);
    background-position: right top 120;
    position: relative;
    background-size: 303px 312px;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/desktop/contact/desktop-footer-spoon-and-flour@2x.png);
    }
  }
}

.footer__socials {
  display: flex;
  margin-top: 0;
  justify-content: center;
  gap: 16px;
  background-color: transparent;
  @media screen and (max-width: 767px) {
    padding-bottom: 32px;
    padding-top: 32px;
  }

  @media screen and (max-width: 768px) {
    padding-bottom: 32px;
    padding-top: 32px;
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 74px;
    padding-top: 34px;
  }
}

.footer-contacts {
  font-style: normal;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  margin-top: 4px;

  @media screen and (min-width: 768px) {
    gap: 280px;
    justify-content: center;
  }

  @media screen and (min-width: 1280px) {
    gap: 620px;
    justify-content: center;
  }
}

.footer-contacts__icon {
  margin-right: 3px;
  fill: currentColor;
}

.footer-contacts__link {
  display: flex;
  align-items: center;
  color: var(--main-txt-clr);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--btn-clr);
  }

  &:focus {
    outline: 1px solid #575655;
  }
}

.footer-contacts__link {
  position: relative;

  &::after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 1px;
    bottom: 10%;
    background-color: var(--btn-clr);
    content: '';
    transition: width 0.3s ease-out;
  }
}

.footer-contacts__link:hover::after,
.footer-contacts__link:focus::after {
  width: 100%;
}
