.header-bg {
  position: absolute;
  z-index: -55;
  max-width: 100%;
  left: 0px;
  top: -115px;

  @media screen and (min-width: 1280px) {
    top: 0px;
  }
}
.header-pic {
  max-width: 100%;
}
.desktop-menu {
  display: none;

  @media screen and (min-width: 1280px) {
    display: flex;
    gap: 20px;
    padding-top: 15px;
  }
}

.header-pic__container {
  position: absolute;
  z-index: -5;

  @media screen and (max-width: 767px) {
    left: -12px;
    top: -16px;
  }
  @media screen and (min-width: 768px) {
    right: 102px;
    top: -24px;
  }
  @media screen and (min-width: 1280px) {
    right: -77px;
    top: -20px;
  }
}
.header-content__pic {
  display: none;

  @media screen and (min-width: 1280px) {
    display: block;
    margin-top: 40px;
    position: absolute;
    z-index: -5;
    left: 0px;
    bottom: -100%;
  }
}
.menu__nav-container {
  display: flex;
  gap: 55px;
  margin-bottom: 16px;
}
.header__title {
  max-width: 224px;
  font-family: var(--title-fnt);
  font-size: 30px;
  line-height: 1.27;
  text-align: center;
  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 16px;
    max-width: 490px;
    font-size: 64px;
    line-height: 1.02;
    text-align: left;
  }
}
.header__container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 16px;

  @media screen and (min-width: 768px) {
    align-items: flex-start;
    padding-top: 24px;
  }
  @media screen and (min-width: 1280px) {
    align-items: flex-start;
    padding-top: 46px;
  }
}
.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    align-items: flex-start;
  }
}
.header-content__title {
  font-family: var(--main-fnt);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
  @media screen and (min-width: 1280px) {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.21;
  }
}

.header-content__button {
  margin-top: 32px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}
// .nav-menu {
//   position: relative;
//   z-index: -1;
//   background-color: #ffffff;
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
//   background-image: url(../images/mobile/header-bg/mobile-header-bg.png);
//   @media (min-device-pixel-ratio: 2),
//     (min-resolution: 192dpi),
//     (min-resolution: 2dppx) {
//     background-image: url(../images/mobile/header-bg/mobile-header-bg@2x.png);
//   }
//   @media screen and (min-width: 768px) {
//     background-image: url(../images/tablet/header-bg/tablet-header-bg.png);
//     @media (min-device-pixel-ratio: 2),
//       (min-resolution: 192dpi),
//       (min-resolution: 2dppx) {
//       background-image: url(../images/tablet/header-bg/tablet-header-bg@2x.png);
//     }
//   }
//   @media screen and (min-width: 1280px) {
//     background-image: url(../images/desktop/header-bg/desktop-header-bg.png);
//     @media (min-device-pixel-ratio: 2),
//       (min-resolution: 192dpi),
//       (min-resolution: 2dppx) {
//       background-image: url(../images/desktop/header-bg/desktop-header-bg@2x.png);
//     }
//   }
// }
.no-scroll {
  overflow: hidden;
}
