.logo {
  width: 96px;
  height: 50px;
  @media screen and (min-width: 1280px) {
    width: 158px;
    height: 116px;
  }
}
.nav-menu {
  position: relative;
  z-index: 2;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/mobile/header-bg/mobile-header-bg.png);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/mobile/header-bg/mobile-header-bg@2x.png);
  }
  @media screen and (min-width: 768px) {
    background-image: url(../images/tablet/header-bg/tablet-header-bg.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/tablet/header-bg/tablet-header-bg@2x.png);
    }
  }
  @media screen and (min-width: 1280px) {
    background-image: url(../images/desktop/header-bg/desktop-header-bg.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/desktop/header-bg/desktop-header-bg@2x.png);
    }
  }
}
.menu-box__logo {
  width: 190px;
  height: 85px;
  margin-bottom: 40px;
}
.btn-box {
  display: block;
  margin-left: auto;
  margin-right: 0;
}
.menu-btn {
  position: relative;
  display: inline-flex;
  z-index: 101;
  right: -100%;
  top: 0%;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: transparent;
  @media screen and (min-width: 1280px) {
    display: none;
  }
}
.menu-btn.is-open .menu__open {
  display: none;
}
.menu-btn .menu__open {
  display: block;
}
.menu-btn.is-open .menu__close {
  display: block;
}
.menu-btn .menu__close {
  display: none;
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.menu-box {
  padding-top: 25px;
  position: absolute;
  display: none;
  // background-color: red;
  width: 100%;

  &.is-open {
    display: flex;
    z-index: 9;
    position: fixed;
    align-items: center;
    background-color: rgba(254, 243, 228, 0.9);
    top: 0;
    left: 0;
    flex-direction: column;
    height: 100vh;
  }
  @media screen and (min-width: 1280px) {
    display: none;
  }
}
.menu__link {
  text-decoration: none;
  font-family: var(--main-fnt);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.21;
  text-align: center;
  color: var(--main-txt-clr);
}
.header__title {
  font-family: var(--title-fnt);
  font-size: 30px;
  line-height: 1.27;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
  @media screen and (min-width: 1280px) {
    font-size: 64px;
    line-height: 1.02;
    text-align: left;
  }
}
.register__title {
  font-family: var(--main-fnt);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
  @media screen and (min-width: 1280px) {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.21;
  }
}
