.logo {
  width: 96px;
  height: 50px;
  @media screen and (min-width: 1280px) {
    width: 158px;
    height: 116px;
  }
}
.nav-menu {
  position: relative;
  z-index: -1;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/mobile/header-bg/mobile-header-bg.png);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/mobile/header-bg/mobile-header-bg@2x.png);
  }
  @media screen and (min-width: 768px) {
    background-image: url(../images/tablet/header-bg/tablet-header-bg.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/tablet/header-bg/tablet-header-bg@2x.png);
    }
  }
  @media screen and (min-width: 1280px) {
    background-image: url(../images/desktop/header-bg/desktop-header-bg.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/desktop/header-bg/desktop-header-bg@2x.png);
    }
  }
}
.header-pic__container {
  position: absolute;
  z-index: -5;
  @media screen and (max-width: 767px) {
    left: 0px;
    top: -16px;
  }

  @media screen and (min-width: 768px) {
    right: 102px;
    top: -24px;
  }
  @media screen and (min-width: 1280px) {
    right: 0px;
    top: -20px;
  }
}
.spoon {
  margin-top: 40px;
  position: absolute;
  z-index: -5;
}
.header-pic {
  max-width: 100%;
}
.menu-box__link {
  display: inline-flex;
  margin-bottom: 40px;
}
.menu-box__logo {
  width: 190px;
  height: 85px;
  @media screen and (min-width: 1280px) {
    display: none;
  }
}
.btn-box {
  display: block;
  margin-left: auto;
  margin-right: 0;
}
.menu-btn {
  position: absolute;
  display: inline-flex;
  z-index: 101;
  right: 20px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: transparent;
  @media screen and (min-width: 768px) {
    right: 32px;
  }
  @media screen and (min-width: 1280px) {
    display: none;
  }
}
.menu-btn.is-open .menu__open {
  display: none;
}
.menu-btn .menu__open {
  display: block;
}
.menu-btn.is-open .menu__close {
  display: block;
}
.menu-btn .menu__close {
  display: none;
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  @media screen and (min-width: 1280px) {
    display: none;
  }
}
.menu__nav-container {
  display: flex;
  gap: 55px;
  margin-bottom: 16px;
}
.desktop-menu {
  display: none;
  @media screen and (min-width: 1280px) {
    display: flex;
    gap: 20px;
    padding-top: 15px;
  }
}
.menu-box {
  position: absolute;
  display: none;
  width: 100%;

  &.is-open {
    padding-top: 25px;
    display: flex;
    z-index: 55;
    position: fixed;
    align-items: center;
    background-color: rgba(254, 243, 228, 0.9);
    top: 0;
    left: 0;
    flex-direction: column;
    height: 100vh;
  }
}
.menu__item {
  text-align: center;
}
.menu__link {
  display: inline-flex;
  text-decoration: none;
  font-family: var(--main-fnt);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.21;
  color: var(--main-txt-clr);
  &:hover,
  &:focus {
    color: var(--btn-clr);
  }
  @media screen and (min-width: 1280px) {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.22;
    text-align: left;
  }
}
.header__title {
  max-width: 224px;
  font-family: var(--title-fnt);
  font-size: 30px;
  line-height: 1.27;
  text-align: center;
  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 16px;
    max-width: 490px;
    font-size: 64px;
    line-height: 1.02;
    text-align: left;
  }
}
.header__container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 16px;
  @media screen and (min-width: 768px) {
    align-items: flex-start;
    padding-top: 24px;
  }
  @media screen and (min-width: 1280px) {
    align-items: flex-start;
    padding-top: 46px;
  }
}
.register__title {
  font-family: var(--main-fnt);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
  @media screen and (min-width: 1280px) {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.21;
  }
}
.logo-link {
  display: inline-flex;
}
.header__menu {
  display: flex;
}
.register__button {
  margin-top: 32px;
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}
