.price {
  background-color: var(--regestration-box-clr);
}

.price__title {
  margin-bottom: 16px;
}

.price-card {
  padding: 20px;

  position: relative;  

  border-radius: 40px;

  background-color: var(--main-clr);

  @media screen and (max-width: 767px) {
    margin-bottom: 32px;

    &:first-child {
      margin-bottom: 12px;
    }
  
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.price-card::before {
  content: "";
  width: 100%;
  height: 102px;
  display: block;
  outline: 1px solid red;

  position: absolute;
  top: 0;
  left: 0;

  background-image: url(../images/mobile/price-bg/snot-mob.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.price-card__title {
  margin-bottom: 16px;
  text-align: center;

  font-size: 18px;
  font-weight: 600;
  line-height: 1.21;
  font-style: italic;

  color: var(--main-txt-clr);
}

.price-card__list {
  margin-bottom: 32px;
}

.price-card__text {
  font-size: 18px;
  line-height: 1.22;

  color: var(--main-txt-clr);

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}
