.section-registration {
  margin-top: 40px;
  &__confetti {
    display: none;
  }
  &__wrapper {
    background: var(--regestration-box-clr);
    box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15),
      4px 4px 4px rgba(171, 129, 108, 0.15);
    border-radius: 200px 200px 0 0;
    padding: 0 10px 30px;
  }

  &__title {
    padding-top: 32px;
    padding-bottom: 20px;
  }
  &__text {
    font-size: 18px;
    line-height: calc(22 / 18);
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(171, 129, 108, 0.5);
  }

  @media screen and (min-width: 768px) {
    &__confetti {
      display: block;
      position: absolute;
      top: 22px;
      right: -25px;
      z-index: -1;
    }
    &--background {
      background-image: url(../images/tablet/registration/tablet-registration-donut@2x.png);
      background-repeat: no-repeat;
      background-size: 200px 200px;
      background-position: 0% 18%;
    }
    &__wrapper {
      border-radius: 0;
      background: none;
      box-shadow: none;
      padding: 0;

      // max-width: 705px;
    }
    &__container-text {
      max-width: 100px;
      min-width: 90px;
      margin: 0 30px 0 60px;
    }
    &__container {
      background: #fffff9;
      box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15),
        4px 4px 4px rgba(171, 129, 108, 0.15);
      border-radius: 150px;
      display: flex;
      align-items: center;
      max-width: 820px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
    }
    &__text {
      border-bottom: none;
      text-align: right;
      padding-bottom: 0;
    }
  }

  @media screen and (min-width: 1280px) {
    &__confetti {
      width: 550px;
      top: 0px;
      right: -245px;
    }
    &--background {
      background-position: 13% 18%;
    }
    &__container-text {
      max-width: 130px;
      min-width: 120px;
      margin: 0 30px 0 100px;
    }
  }
}

.form-registration {
  text-align: center;
  // &__submit {
  //   margin-top: 20px;
  // }

  &__text {
    font-size: 16px;
    line-height: calc(20 / 16);
    text-align: center;

    margin-top: 8px;
    margin-bottom: 20px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  &__lable:last-child .form-registration__input {
    margin-bottom: 32px;
  }

  &__input {
    border: 0;
    border-bottom: 1px solid var(--btn-clr);
    width: 100%;
    margin-bottom: 20px;
    background: var(--regestration-box-clr);
  }
  &__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20 / 16);
    color: rgba(171, 129, 108, 0.5);
  }
  &__submit {
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    &__container {
      margin: 40px 0 40px 0;
      padding-left: 25px;
      border-left: 1px solid rgba(171, 129, 108, 0.5);
      width: 250px;
    }
    &__text {
      width: 285px;
      text-align: left;
      margin: 0 0 20px 0;
    }

    &__submit {
      margin-left: 55px;
      margin-right: 60px;
    }
    &__lable:last-child .form-registration__input {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1280px) {
    &__container {
      width: 300px;
    }
    &__submit {
      margin-left: 30px;
      margin-right: 100px;
    }
  }
}
