.reviews__container {
  position: relative;
}
.reviews-bg__img {
  position: absolute;
  top: 30px;
  left: 0;
  max-width: 150%;
  z-index: -90;
  @media screen and (min-width: 768px) {
    max-width: 100%;
  }
}
.big {
  width: 500px;
  background-color: red;
}
.reviews__title {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 24px;
  line-height: calc(30 / 24);
  color: #2e2520;
  @media screen and (min-width: 768px) {
    margin-bottom: 7px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 86px;
    font-size: 36px;
    line-height: calc(45 / 36);
  }
}
.reviews__slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.reviews__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 280px;
  &:first-child,
  &:last-child {
    display: none;
    @media screen and (min-width: 768px) {
      &:first-child,
      &:last-child {
        display: flex;
      }
    }
  }
}
.reviews__img {
  border-radius: 50%;
}

.reviews__icon {
  display: block;
  transform: translateX(50%);
}
.reviews__name {
  margin-bottom: 8px;
  font-style: italic;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: var(--main-txt-clr);
  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: calc(20 / 16);
  }
}
.reviews__comment {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  @media screen and (min-width: 1280px) {
    font-size: 18px;
    line-height: calc(22 / 18);
  }
}
