.reviews__section {
  margin-top: 8px;
  min-width: 320px;
  background-position: top 15px;
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (max-width: 767px) {
    max-width: 100%;
    background-image: url(../images/mobile/reviews-bg/rewiews.png);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/mobile/reviews-bg/rewiews@2x.png);
    }
  }
  @media screen and (min-width: 768px) {
    max-width: 1279px;
    width: 100%;
    background-image: url(../images/tablet/reviews-bg/reviews.png);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/tablet/reviews-bg/revews@2x.png);
    }
  }
  @media screen and (min-width: 1280px) {
    max-width: 1600px;
    background-image: url(../images/desktop/reviews-bg/vector.png);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/desktop/reviews-bg/vector@2x.png);
    }
  }
}
.reviews__title {
  @media screen and (min-width: 768px) {
    font-size: 36px;
    line-height: calc(45 / 36);
  }
}
.reviews__article {
  //   height: 650px;
}
.reviews__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.reviews__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 280px;
}
.reviews__rate {
  position: relative;
  margin-bottom: 20px;

  //   sdfgsdfsdfsdfasdfasdf
}
.reviews__icon {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  transform: translateX(50%);
}
.reviews__name {
  margin-bottom: 8px;
  font-style: italic;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14);
}
.reviews__comment {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
}
