.speakers__section {
  max-width: 100%;
  background-color: var(--regestration-box-clr);
}
.speakers__title {
  @media screen and (min-width: 768px) {
    font-size: 36px;
    line-height: calc(45 / 36);
  }
}
.speakers__box {
  margin-top: 2px;
  background-color: var(--main-clr);
  border-radius: 20px;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 29px;
  background-position: top;
  background-repeat: no-repeat;
  @media screen and (max-width: 767px) {
    max-width: 100%;
    background-image: url(../images/mobile/speakers-bg/vector.png);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/mobile/speakers-bg/vector@2x.png);
    }
  }
  @media screen and (min-width: 768px) {
    max-width: 1279px;
    border-radius: 40px;
    width: 100%;
    padding-top: 155px;
    padding-bottom: 40px;
    background-image: url(../images/tablet/speakers-bg/vector.png);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/tablet/speakers-bg/vector@2x.png);
    }
  }
  @media screen and (min-width: 1280px) {
    max-width: 1600px;
    padding-top: 232px;
    padding-left: 105px;
    padding-right: 105px;
    background-image: url(../images/desktop/speakers-bg/vector.png);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/desktop/speakers-bg/vector@2x.png);
    }
  }
}

.speakers__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 24px;
  }
  @media screen and (min-width: 1280px) {
    gap: 105px;
  }
}
.speakers__item {
  width: 130px;
  text-align: center;
  margin-bottom: 12px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}
.speakers__img {
  margin-bottom: 12px;
  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
  }
}
.speakers__name {
  font-style: italic;
  font-weight: 600;
  font-size: 16px;
  line-height: calc(20 / 16);
  text-align: center;
  margin-bottom: 12px;
  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: calc(22 / 18);
  }
}
.speakers__description {
  font-style: italic;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(15 / 12);
  text-align: center;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: calc(17 / 14);
  }
}
