.speakers__section {
  max-width: 100%;
  // background-color: var(--regestration-box-clr);
}

.speakers__title {
  font-size: 24px;
  line-height: calc(30 / 24);
  background-color: var(--regestration-box-clr);
  @media screen and (min-width: 768px) {
    font-size: 36px;
    line-height: calc(45 / 36);
  }
}

.speakers__list {
  @extend %flex-expanded;
  flex-wrap: wrap;
  row-gap: 32px;
  column-gap: 20px;
  justify-content: space-between;
  background-color: var(--main-clr);
  border-radius: 20px;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 29px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  @media screen and (max-width: 767px) {
    max-width: 100%;
    background-image: url(../images/mobile/speakers-bg/bg_sm@1x.png);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/mobile/speakers-bg/bg_sm@2x.png);
    }
  }
  @media screen and (min-width: 768px) {
    max-width: 1279px;
    border-radius: 40px;
    width: 100%;
    margin-top: 0;
    padding-top: 155px;
    padding-bottom: 40px;
    background-image: url(../images/tablet/speakers-bg/bg_md@1x.png);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/tablet/speakers-bg/bg_md@2x.png);
    }
  }
  @media screen and (min-width: 1280px) {
    max-width: 1600px;
    padding-top: 232px;
    padding-left: 105px;
    padding-right: 105px;
    background-image: url(../images/desktop/speakers-bg/bg_lg@1x.png);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/desktop/speakers-bg/bg_lg@2x.png);
    }
  }
}
.speakers__item {
  @extend %flex-centered;
  @include flex-basis(2, 20px);
  @media screen and (min-width: 768px) {
    @include flex-basis(4, 32px);
  }
  @media screen and (min-width: 1280px) {
    @include flex-basis(4, 105px);
  }
}
.speakers__img {
  display: block;
  margin-bottom: 12px;
  border-radius: 50%;
  border: 4px solid transparent;
  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
  }
  .speakers__item:hover &,
  .speakers__item:focus & {
    box-shadow: 0 0 30px #ab816c;
  }
}
.speakers__meta {
  margin-left: 0;
  margin-right: 0;
  width: 130px;
  color: var(--main-txt-clr);
  @media screen and (min-width: 768px) {
    width: 152px;
  }
  @media screen and (min-width: 1280px) {
    width: 181px;
  }
}
.speakers__name {
  font-style: italic;
  font-weight: 600;
  font-size: 16px;
  line-height: calc(20 / 16);
  text-align: center;
  margin-bottom: 12px;
  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: calc(22 / 18);
  }
}
.speakers__description {
  font-style: italic;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(15 / 12);
  text-align: center;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: calc(17 / 14);
  }
}
